// Calendar style

#calendar_wrapLarge {
	#CalendarLarge-Header {
		border: none;

		td,
		tr {
			border: none;
		}
	}

	#wp-calendarLarge {
		td {
			border: 1px solid rgba(0, 0, 0, .1);

			&#todayLarge {
				background-color: @grey;
			}

			.dayHead {
				background-color: @black;
				padding: 0 8px;
			}

			.event-block {
				border-top: none;

				* {
					color: @red;
				}
			}
		}
	}
}
