// Gallery style

.ngg-albumoverview {
	padding: 0 !important;
	margin: 0 !important;

	.ngg-album-compact {
		padding: 0 !important;
		margin: 0 0 20px !important;
		width: 136px;

		.ngg-album-compactbox {
			padding: 0 !important;
			margin: 0 !important;
			border: none;

			&::after,
			&::before {
				content: none;
			}

			.ngg-album-link {
				text-align: center;

				.Thumb {
					border: 1px solid @grey !important;
					padding: 4px !important;

					&:hover {
						border-color: @black !important;
					}
				}
			}
		}

		h4 {
			padding: 0 !important;
			margin: 0 15px !important;
			font-size: 14px;
			line-height: 14px;

			.ngg-album-desc {
				height: 45px;
			}
		}

		.ngg-album-gallery-image-counter {
			padding: 0 !important;
			margin: 0 15px !important;
		}
	}
}

.ngg-galleryoverview {
	.ngg-gallery-thumbnail-box {
		.ngg-gallery-thumbnail {
			border: 1px solid @grey !important;

			&:hover {
				border-color: @black !important;
			}
		}
	}

	.ngg-navigation {
		a.next,
		a.prev,
		a.page-numbers,
		span.current {
			display: block;
			float: left;
			padding: 0 5px !important;
			margin-left: 5px;
			border: 1px solid @border_main !important;
			text-decoration: none;
		}

		a.next:hover,
		a.prev:hover,
		a.page-numbers:hover,
		span.current {
			color: inherit !important;
			background: @background_current !important;
			opacity: .8;
			border: 1px solid @border_current !important;
		}

		span.dots {
			display: block;
			float: left;
			padding: 1px 4px;
			margin-left: 5px;
		}
	}
}
