// Main classes

body {
	background-image: url("img/background.jpg");
	background-color: @grey;
	background-position: center bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

.inside-article,
.widget {
	background-image: url("img/logo_mini.png");
	background-position: 99% 99%;
	background-repeat: no-repeat;
}
