// Pagination style

.paging-navigation {
	a,
	span.current {
		display: block;
		float: left;
		padding: 0 5px;
		margin-left: 5px;
		border: 1px solid @border_main;
		text-decoration: none;
	}

	a:hover,
	span.current {
		background: @background_current;
		opacity: .8;
		border: 1px solid @border_current;
	}

	span.dots {
		display: block;
		float: left;
		padding: 1px 4px;
		margin-left: 5px;
	}
}
